@model MyDiabeticSystem.Web.Data.Entities.Check

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Check</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Carbohydrates" class="control-label"></label>
                <input asp-for="Carbohydrates" class="form-control" />
                <span asp-validation-for="Carbohydrates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Glucometry" class="control-label"></label>
                <input asp-for="Glucometry" class="form-control" />
                <span asp-validation-for="Glucometry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bolus" class="control-label"></label>
                <input asp-for="Bolus" class="form-control" />
                <span asp-validation-for="Bolus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hb1" class="control-label"></label>
                <input asp-for="Hb1" class="form-control" />
                <span asp-validation-for="Hb1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
