@model MyDiabeticSystem.Web.Models.AddSensibilityViewModel

@{
    ViewData["Title"] = "CreateSensibility";
}

<h2>Create</h2>

<h4>Sensibility</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSensibility">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatientId" />

            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <div class="input-group clockpicker" data-autoclose="true">
                    <input asp-for="StartTime" class="form-control" type="time" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <div class="input-group clockpicker" data-autoclose="true">
                    <input asp-for="EndTime" class="form-control" type="time" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $('.clockpicker').clockpicker();
    </script>
}


